# dependencies
/node_modules
/.pnp
/.pnp.js

# next.js
/.next
/out

# production
/build
/dist

# testing
/coverage
/test-results

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
package-lock.json
pnpm-lock.yaml

# local env files
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode
.idea
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini

# temp
/tmp
/temp
/cache
nul

# clerk configuration (can include secrets)
/.clerk/
